 {
	"jbuniversal.product.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			}
		}
	},
	"jbuniversal.product.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"show_basket": "1",
				"show_sku": "1",
				"currency-list":  {
					"0": "RUB",
					"1": "UAH",
					"2": "USD"
				},
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "f52691d1-0d78-42e4-a5d9-7f2bcfa0966c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "a79bb4e4-ff28-46ee-9e99-689d52b7ee0a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "cde063e9-4f80-4cf0-9447-6d42fcdbb2fb"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0412\u044b\u043f\u0443\u0441\u043a",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[, ]",
				"element": "15ce0fa8-fbff-41dd-824d-d4bb30495f81"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "0",
				"width": "130",
				"height": "200",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"rating":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "a6145996-4ce6-4a11-8aa9-c17a13b67cc0"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "%s \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
				"multiple_comments_text": "%s \u043a\u043e\u043c\u043c\u0435\u0442\u0430\u0440\u0438\u0435\u0432",
				"no_comments_text": "\u041e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
				"element": "_itemcommentslink"
			}
		}
	},
	"jbuniversal.product.full":  {
		"banner-title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fc498cea-a276-4ce7-9719-50526c5742d7"
			}
		},
		"banner-image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "src",
				"group_popup": "1",
				"width": "",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"text-above-tabs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "991126ed-ac39-4c0d-abc0-b42058a85b6a"
			}
		},
		"text-tab1":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "9f59fe6b-b76d-45f9-8cb7-3413012ae8df"
			}
		},
		"text-tab2":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d1f9817c-a486-446f-91b2-955d8e4a3e6d"
			}
		},
		"text-tab3":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "17c85ebf-6a4e-498c-b0e1-5c0a19d59c87"
			}
		},
		"text-tab4":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "223ad369-8472-47c6-94e8-18d804cf0f51"
			}
		},
		"text-above-products":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6ae4eff9-ae4d-4d81-843d-e410772c6216"
			}
		},
		"products":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "product",
				"group_popup": "1",
				"width": "216",
				"height": "175",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "760604ad-f737-4cb5-9ccd-15f05ed9da19"
			}
		},
		"reviews":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "9d84de56-17b7-4a77-8fb0-830b550e0326"
			}
		}
	},
	"jbuniversal.product.related":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "100",
				"height": "100",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"rating":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "a6145996-4ce6-4a11-8aa9-c17a13b67cc0"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			}
		}
	},
	"jbuniversal.product.compare":  {
		"fields":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "130",
				"height": "200",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			}
		}
	},
	"jbuniversal.product.favorite":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "200",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f69b21c-d551-46ea-b494-dff0cb1ba2c3"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "546434f5-98ae-499c-b282-54355dbcc09c"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "66e0527e-ee98-45da-9fb6-114999ab2394"
			},
			"7":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"8":  {
				"showlabel": "1",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "15ce0fa8-fbff-41dd-824d-d4bb30495f81"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			}
		}
	},
	"jbuniversal.otzyv.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "93",
				"height": "93",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f1d24f49-b005-445a-ba39-464495584b28"
			}
		},
		"job":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "40edc4ec-c691-4ac7-95a3-a6f6a00ff962"
			}
		},
		"site":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1c850df9-9085-4164-822d-e94fcfd546e7"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f143880c-43d0-4814-9f20-b68f093cc67e"
			}
		}
	}
}